node_modules
.next
.turbo
dist
build
coverage
*.min.js
*.min.css
pnpm-lock.yaml
.venv
__pycache__
*.pyc
*.py
.ruff_cache
.mypy_cache
.pytest_cache
*.md
apps/api/openapi.json
packages/shared-types/openapi.json
packages/shared-types/api-types.d.ts
